@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<p>This application can be used to replace traditional way of taking attendance in class.</p>
</br>
<h3>Available everywhere</h3>
<p>You can add students for all your classes and manage them easily on the go. 
    No need to maintain this locally while you can mantain all of this can be put on clound and made available everywhere, desktop or mobile.</p>
</br>
<h3>Speech Recognition</h3>
<p>For taking the attendance, you can use speech recognition also. Just click on microfone button and application will start listening.
    You call out any name, if student replies with "yes" / "yes sir" / "yes mam" / "present", student will be checked as present.</p>
</br>
<h3>Download/Email</h3>
<p>When done with attendace, either download the attendance sheet as excel or get it sent to your registered email address.</p>
<p>This application is still under developement. Plesae provide your valuable feedback :)</p>
