@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <h4>Jyoti Sharma</h4>
    Herguan University<br />
    595 Lawrence Expy, Sunnyvale, CA 94085<br />
    <abbr title="Phone">P:</abbr>
    (408) 481-8888
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:autoattendanceapp@gmail.com">autoattendanceapp@gmail.com</a><br />
</address>