<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://autoattendance.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>autoattendance.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AutoAttendance</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AutoAttendance</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:autoattendance720160719103428dbserver.database.windows.net,1433;Initial Catalog=AutoAttendance_db;User ID=gaurav2908@autoattendance720160719103428dbserver;Password=String@2908" Name="Data Source=tcp:autoattendance720160719103428dbserver.database.windows.net,1433;Initial Catalog=AutoAttendance_db;User Id=gaurav2908@autoattendance720160719103428dbserver;Password=String@2908" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AutoAttendance.Models.ApplicationDbContext, AutoAttendance" MigrationConfiguration="AutoAttendance.Migrations.Configuration, AutoAttendance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:autoattendance720160719103428dbserver.database.windows.net,1433;Initial Catalog=AutoAttendance_db;User Id=gaurav2908@autoattendance720160719103428dbserver;Password=String@2908</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>